cicd_project_id            = "prj-b-cicd-local-236d"
shared_vpc_host_project_id = "pjt-d-shared-base"
gke_project_id             = "pjt-d-host01"
resource_project_id        = "pjt-c-admin"
region                     = "asia-northeast3"
zone                       = "asia-northeast3-a"
network_name                 = "vpc-d-shared-base"
shared_vpc_network_self_link = "projects/pjt-d-shared-base/global/networks/vpc-d-shared-base"
gke_subnet_self_link         = "projects/pjt-d-shared-base/regions/asia-northeast3/subnetworks/REPLACE_EXISTING_GKE_SUBNET"
cloudrun_subnet_self_link    = "projects/pjt-d-shared-base/regions/asia-northeast3/subnetworks/subnet-cloudrun-egress-an3"
gke_pod_range_name         = "REPLACE_EXISTING_POD_RANGE"
gke_service_ipv4_cidr      = "34.118.224.0/20"
gke_pod_cidr               = "10.240.0.0/20"
state_bucket_name          = "REPLACE_GLOBALLY_UNIQUE_TFSTATE_BUCKET"
provisioner_image          = ""
external_lb_domain         = "REPLACE_SANDBOX_DOMAIN"
jupyter_neg_self_links     = []
iap_oauth2_client_id       = ""
iap_oauth2_client_secret   = ""
sandbox_build_trigger_id   = ""
