shared_vpc_host_project_id = "pjt-d-shared-base"
network_name = "vpc-d-shared-base"
region = "asia-northeast3"
gke_subnet_name = "REPLACE_EXISTING_GKE_SUBNET"
cloudrun_subnet_cidr = "172.31.102.0/26"
cloudbuild_psa_cidr = "172.31.100.0/24"
task_name = "sbx01"
task_subnet_cidr = "172.31.110.0/24"
task_vm_service_account_email = "40744085720-compute@developer.gserviceaccount.com"
gke_pod_cidr = "10.240.0.0/20"
