shared_vpc_host_project_id   = "pjt-d-shared-base"
region                       = "asia-northeast3"
cloudrun_subnet_name         = "subnet-cloudrun-egress-an3"
cicd_project_number          = "587273205772"
existing_sandbox_project_id  = "pjt-net-hub-base"
project_factory_service_account = "sa-im-project-factory@prj-b-cicd-local-236d.iam.gserviceaccount.com"
